body{
  display: flex;
  flex-direction: column;
}

header{
  background-image:url("images/raul-najera-313326-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  color: whitesmoke;
}

h1{
   margin-top: 30px;
  margin-left: 70px;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

span{
  display: block;
  font-size: 50px;
}

img{
  height: 100px;
}

.content{
  text-align: justify;
  margin-top:50px;
  margin-bottom: 50px;
}


.form-inline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input{
  margin-left: 15px;
}

label{
  padding-bottom: 10px;
}

select{
   padding-bottom: 0px;
}

table{
  margin-top: 30px;
}

thead{
  background-color: #343a40;
  color: whitesmoke;
}

.btn-info{
  background-color: brown;
  border-color: brown;
  margin-bottom: 20px;
}

.btn-info:hover{
  background-color: grey;
  border-color: grey;
}

footer{
  text-align: center;
  margin-top: 40px;
  background-color: #343a40;
  height: 50px;
  color: whitesmoke;
  padding-top: 10px;
}

.nav-link{
  color: whitesmoke;
}

a:hover{
  color: brown;
}
